*{
    padding:0px;
    margin:0px;
    
}
body{
    background-image: url(absnote.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
.note-layout{
    display:flex;
    flex-flow: row wrap;
    height: 98vh;
    max-width:500px;
    background-color: white;
    opacity:0.9;
    position:absolute;
    margin-left: 32%;
    border-radius: 20px;
    margin-top: 7px;
    color:black;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    overflow-y: auto;
    overflow-x: hidden;
}
.new{
    height:50px;
    width: 480px;
    background-color: black;
    border-radius: 10px;
    color: grey;
    text-align: center;
    font-size: 43px;
    cursor: crosshair;
    border:none;

}
.add-wrap{
    visibility: hidden;

}
.add-note{
    display: flex;
    flex-direction: column;
    height:380px;
    width:430px;
    position:absolute;
    padding-top:10px;
    font-size: 17px;
    background: linear-gradient(to bottom right, goldenrod, orange,  rgb(21, 195, 238) ,  blue);
    margin-left: 35px;
    align-items: center;
    border-radius: 20px;
    
}
#titlearea{
    border-radius: 5px;
    text-align: center;
    padding-top: 5PX;
}
#notearea{
    height:170px;
    width:350px;
    border-radius: 5px;
    font-size: 15px;
    padding:2px
}
#add{
    height:25px;
    width:100px;
    background-color: black;
    font-size: 15px;
    color: white;
    border-radius: 5px;
    border:1px solid black;
    
}
#cancel{
    height:25px;
    width:100px;
    background-color: black;
    font-size: 15px;
    color: white;
    border-radius: 5px;
    border:1px solid black;
    
}

.notesdiv{
    width:180px;
    border-radius: 10px;
    color:black;
    left:300px;
    top:50px;
    text-align: center;
    margin:10px;
    white-space: pre-wrap;
    padding:2px;
    text-overflow: clip;
    word-wrap: break-word;
    
}
.edit-wrap{
    visibility: hidden;   
}
.edit-note{
    display: flex;
    flex-direction: column;
    height:380px;
    width:430px;
    position:absolute;
    padding-top:10px;
    font-size: 17px;
    background: linear-gradient(to bottom right, goldenrod, orange,  rgb(21, 195, 238) ,  blue);
    margin-left: 35px;
    align-items: center;
    border-radius: 20px;
}
.editBtn{
    height:25px;
    width:25px;
    border-radius:2px;
    font-size: 15px;
    margin-right: 5px;
}
#titleedit{
    border-radius: 5px;
    text-align: center;

}
#noteedit{
    height:170px;
    width:350px;
    border-radius: 5px;
    font-size: 15px;
    padding:2px;
}
#edit{
    height:25px;
    width:100px;
    background-color: black;
    font-size: 15px;
    color: white;
    border-radius: 5px;
    border:1px solid black;
    
}
#cancele{
    height:25px;
    width:100px;
    background-color: black;
    font-size: 15px;
    color: white;
    border-radius: 5px;
    border:1px solid black;
    
}
.delete{
    height: 25px;
    width: 25px;
    font-size:15px;
    margin-left: 5px;
    border-radius: 2px;
}
